#wrapper {
padding-left: 0px !important;}

.sidebar-group {left: 0px !important;}
.main-content.padding {padding:16px !important}
.user-profile {line-height: 44px !important;}
.clear {margin-top:15px}

.col-lg-offset-3a {margin-left: 24.4%;}
.col-lg-offset-4a {margin-left: 29.7%;}
.up-mrg {margin-top:8px;margin-bottom:8px}
.width-in {width:4em}
.box-module  {width:125px !important; height:62px; padding:7px}

.pagination-box {text-align: center;}
.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
	background-color: #59636d;
	border-color: #59636d;
}